
.about{
	background: $brown;
}

.testimonials{
	text-align: center;

	.testimonial_by{
		line-height: 150px!important;
		text-align: center!important;
	}
	.testimonial_quote{
		line-height: 2!important;
		padding-top: 25px!important;
	}
	.testimonial_slideri{
		overflow: scroll!important;
	}
}

.col-md-5{
	text-align: center;
}

.message{
	margin: 25px;
}

section {
  	position: relative;
  	z-index: 1;
}

.forms{
	background: $off-white;
}

.contact-me{


.contact-col{
	.contact-form{
		margin-right: 15px;
		.ninja-forms-all-fields-wrap{
			font-family: $body-font!important;
			font-weight: 500;
		}
		#ninja_forms_field_4{
			@media (max-width: $screen-md-max) {
				padding: 10px 50px;	
				}
				background: $orange;
				border: 1px solid $orange;
				color: $black!important;
				font-family: $body-font;
				font-size: 1.25em!important;
				font-weight: 400!important;
				letter-spacing: 2px!important;
				padding: 10px 50px!important;
				text-transform: uppercase;
					@media (max-width: $screen-md-max) {
						padding: 5px 25px!important;	
					}
					&:hover{
						background: transparent;
						border: 1px solid $black;
					}		
		}
	}
	.second{
		margin-left: 15px;

		.number{
			font-size: 1.5em;
			font-weight: bold;
		}
	}
}
}

.price-list{
	background: $brown;
	text-align: center;

	.button{

			@media (max-width: $screen-md-max) {
				padding: 10px 50px;	
				}
		background-color: $orange;
		border: 2px solid transparent;
		color: $white;
		font-family: $body-font;
		font-size: 1em;
		font-weight: 400!important;
		letter-spacing: 1px;
		padding: 10px 100px;
		text-transform: uppercase;
			&:hover{
			background-color: transparent;
			border: 2px solid $black;
			color: $black;
			}
	}
	.modal-body{
		background: $white;

		.close{
			opacity: 1!important;
				&:hover{
					opacity: 1!important;
				}
		}
		span{
			color: $orange;
			font-size: 2em;
			opacity: 1!important;	
			text-shadow: 1px 2px 0 $gray;	
				&:hover{
					opacity: 1!important;
					text-shadow: 1px 5px 0 $gray;					}		
			}
	}
}

.modal-backdrop{
	position: absolute;
}