#home{
	padding: 20px 0;
	text-align: center;
	.home{
		padding: 0px 150px;
		@media (max-width: $screen-sm-max) {
			padding: 0px 50px;	
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			padding: 0px 100px;	
		}
	}
	.welcome{
		padding: 10px 0;
			p{
				font-weight: 400;
				font-size: 1.75em;
			}
	}	

	.header{
			padding: 10px 0;
		}
	.message{
		padding: 20px 0;
	}
	.button{
	button{
				@media (max-width: $screen-md-max) {
					padding: 10px 50px;	
					}
			background-color: $orange;
			border: 2px solid transparent;
			color: $white;
			font-family: $body-font;
			font-size: 1em;
			font-weight: 400;
			letter-spacing: 1px;
			padding: 10px 100px;
			text-transform: uppercase;
				&:hover{
				background-color: transparent;
				border: 2px solid $black;
				color: $black;
				}
			}
		}
.featured{
	text-align: center;
	img{
		max-width: 200px;
		border-radius: 20px;
		margin: 20px 0px;
	}
}

}