#work{
	.title{

	}
	.gallery{
	margin: 75px auto;
		.row{
		text-align: center;
			li{
			display: inline-block;
			list-style: none;
			margin: 10px 20px;
				img{
				max-width: 350px;
				}
				.description{
				height: 150px;
				text-align: center;
				overflow: hidden; 
					h2{
					font-size: 1.5em;
					}
					p{
					max-width:300px;
					text-align: left;
					color: $black;
					font-family: $body-font;
					font-size: 1em;
					font-weight: 400;
					}
				}
			}
		}
	}
}