footer{
	bottom:0;
	padding: 0px;
	text-align: center;

	.container-fluid{
		margin: 0;
		padding: 0;

		.footer{
		background: $white;
		border-radius: 0;
		margin: 30px 0px;
		padding: 10px 0px;

		// .footer-nav{
		// 	.menu{
		// 		ul{
		// 			padding: 0;
		// 			li{
		// 				display: inline;
		// 				font-family: $body-font;
		// 				font-size: 1em;
		// 				font-weight: 400;
		// 				list-style: none;
		// 				text-transform: uppercase;
		// 				a{
		// 					color: $black;
		// 					padding: 10px;

		// 					&:hover{
		// 						color: $orange;
		// 					}

		// 				}
		// 			}
		// 		}
		// 	}
		// }

		.footer-contact{
			p{
				font-family: $body-font;
				font-weight: 700;
				font-size: 1em;
				color: $black;
				a{
					color: $black;

					&:hover{
						color: $orange;
					}
				}
			}
		}
	}
	}
}