body{
	overflow-x:hidden;
}

header{
	.header{
		padding: 0;
	}
	
	.logo-bar{
		padding-bottom: 10px;

		img{
			// padding-top: 30px;
			height: 65px;
		}

	}

	#hiding-header{
		height: 66.8vh;
		.h1{
			margin: 0px;		
				h1{
					// color: $orange;
					color: black;
					margin: 0px;
					text-align: center;
					padding: 50px 0px;
					text-shadow: 1px 2px 4px $gray;
				@media(max-width: $screen-sm-max){
					padding: 50px 0 25px 0;
				}
					
				}
		}
		.button{
			text-align: center;
				button{
					background: none;
					border: none;
				}
				span{
					color: black;
					font-size: 4em;
					text-shadow: 1px 2px 10px $gray;
						&:hover{
							text-shadow: 0 15px 10px $gray;
						}
				}
		}
	}

	.sticky{
		z-index: 999;
		.navbar{
			background-color: $gray;
			border-radius: 0;
			margin: 0px;
			padding: 0px;
			text-align: center;
			.nav{
				padding: 22px 0px;
				.nav-menu-desktop{
					li{
						display: inline;
						font-family: $body-font;
						font-size: 1em;
						font-weight: 400;
						list-style: none;
						letter-spacing: 3px;
						padding: 0px 50px 28px 50px;
						text-transform: uppercase;
						&:hover{
							border-bottom: 7px solid $orange;
							cursor: pointer;
						}
						a{
							color: $white;
						}
					}
				}
				.nav-menu-mobile{
					text-align: center;
					#mobile{
						border: none;
						color: $black;
						font-family: $body-font;
						font-size: 1em;
						font-weight: 400;
						background: $orange;
						cursor: pointer;
						padding: 10px 0px;
						text-align: left;
						text-transform: uppercase;
						width: 90vw;
						span{
							color: $black;
							font-size: 1em;
							padding-left: 10px;
							padding-right: 10px;
						}
					}
					.dropdown{
						ul{
							padding-top: 30px;
							padding-left: 0px;
						}

						li{
							font-family: $body-font;
							font-size: 1em;
							font-weight: 400;
							list-style: none;
							padding: 20px 0px;
							text-transform: uppercase;
							letter-spacing: 3px;
							a{
								color: $white;

								&:hover{
									color: $orange;
								}
							}
						}
					}
				}
			}
	}	}
}

