
// Content-block is a class you can add to..you guessed it... a content block. 
// Gives general padding, etc. to keep things neat.
.content-block{
	padding: 50px 0;
}

.container-fluid{
		margin: 0;
		padding: 0;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }

.title_image img{
	max-height: 300px;
	max-width: 300px;
}

hr{
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}